@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  background-image:url(images/bg_repeatx.png));
  background-repeat:repeat-x;
}