/* Color codes:

#400000 - darkest red 
#7F0000 - dark red
#BF0000 - slightly dark red
#FF0000 - normal red
#E50000 - slightly bright red

*/

/* Font for headers: font-family: 'Voces', cursive; */

#banner{
    margin-bottom: -10px;
}

#search, #go{
    float:right;
}

#navigation{
    
}

#custom_nav > li{
    padding-right:50px;
}

#front_gallery{
    margin-top:-18px;
}

.gallery_image{
    margin-left: auto;
    margin-right:auto;
}

#footer{
    text-align: center;
    margin-bottom:5px;
    padding-top:10px;
    margin-top:10px;
    border-top: 1px solid #7F0000;
}

#push_form_right{
    position:absolute;
    top:25px;
    left:890px;
    z-index: 10;
}

.voces{
    font-family: 'Voces', cursive;
}

#news_header{
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #7F0000;
}
